{{!-- Feel free to delete this brs... --}}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
  <h1>Welcome {{user.username}}</h1>
  <p>User ID: {{user.id}}</p>
  <p>User Email: {{user.email}}</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-10">
      <form class="newItem">
        <div class="form-group">
          <label for="newItemTitle">Item Title</label>
          <input type="text" class="form-control" id="newItemTitle" placeholder="A New Item...">
        </div>
        <div class="form-group">
          <label for="newItemImgLink">Item Image Link</label>
          <input type="text" class="form-control" id="newItemImgLink" placeholder="Image URL here...">
        </div>
          <div class="form-group">
          <label for="newItemDesc">Item Description</label>
          <input type="text" class="form-control" id="newItemDesc" placeholder="Give a description of your item...">
        </div>
          <button type="submit" class="btn btn-default" id="newItem-submit">Add New Item</button>
      </form>
    </div>
  </div>
</div>



<div class="card-deck">
  {{#each items}}
  <div class="card">
    <a  data-toggle="modal" ><img src="{{this.image}}" class="card-img-top" alt="a User provided image."></a>
    <div class="card-body">
      <h5 class="card-title">{{this.title}}</h5>
      <p class="card-text">{{this.body}}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
    {{/each}}
</div>

