<br>
<h1 class="search-title text-center">Items Available</h1>
<br>

<div class="card-deck">
  <div class="row">
  {{#each items}}
  <div class="col-4">
    <div class="card">
      <a  data-toggle="modal" ><img src="{{this.image}}" class="card-img-top" alt="a User provided image."></a>
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text">{{this.body}}</p>
   <p class="display-test-area"></p>
{{#if available}}
<button type="button" class="btn btn-default btn-borrow" id="{{this.id}}">Borrow Item</button>
{{else}}
<p>This item is currently being borrowed.</p>
{{/if}}
      </div>
    </div>
  </div>
    {{/each}}
    </div>
</div>

          